*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}


header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 100;
    position: fixed; 
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling;
    color: #fff;
    letter-spacing: 5px;
}

nav{
    position: relative;
    display: flex;
    float: right;
    line-height: 100px;
}

nav a{
    position: relative;
    text-decoration: none;
    font-family: bignoodletitling;
    letter-spacing: 4px;
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
}

nav #page{
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background:yellow;
    bottom: 35px;
    transition: 0.5s;
    border-radius: 5px;
    
}

/* Banner */

.banner-area{
    width: 100%;
    height: 450px;
    position: fixed;
    top: 100px;
    background: url("./img/scott-graham-unsplash.jpg") no-repeat center;
    background-size: cover;
    
}


.banner-area::before{
    content: "";
    position: absolute;
    background: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
    opacity: 0.85;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-area h2{
    padding-top: 9%;
    margin-bottom: 4%;
    font-size: 50px;
    font-family: poppins;
    text-transform: uppercase;
    color: white;
    
}

.banner-area a{
    border-radius: 50px;
    padding: 5px 20px;
    background: #fff;
    
    transition-duration: 0.5s;
    cursor: pointer;
    border-color: #fff;
    font-size: 24px;
    display: inline-block;
}

.banner-area a:hover{
    background-image: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
    color: white;
    font-weight: 500;
}

/* Call to action section */

.call-to-action{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    top: 550px;
    background: #ddd;
    padding: 90px 0px;
}

h2{
    
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 40px;
    
}

.call-to-action p{
    padding-top: 2%;
    font-family: merienda;
    line-height: 30px;
}

/* Services section*/

/* About us */
.about-us{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.about-us .about-us-container{
    max-width: 400px;
    margin: 0px auto 40px;
}

.about-us .about-us-container h2{
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

.about-us .about-us-container .about-us-p{
        font-family: merienda;
        line-height: 24px;
        font-size: 14px;
        font-weight: 400;

}

.line{
    width: 130px;
    border-top: 2px solid #222;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    right: 0;
    letter-spacing: 0px;
}

.line .blocks{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    bottom: 32px;
    background-color: black;
}


/* Services */

.section{
    display: flex;
    position: relative;
    top: 550px;
    align-items: center;
    padding: 90px 0px;
    
    
}

.services{
    background-color: white;
}

.services .wrapper .services-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
        
    
}

.services .wrapper .services-container .child{
    width: 320px;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    transition: all 0.4s ease-in-out;
    
}

.services .wrapper .services-container .child:hover{
    transform: translate(0, -7px);
    box-shadow: 0 0 5px #ccc;
    
}

.services .wrapper .services-container .child .child-element{
    height: auto;
    
    padding: 25px;
}



.services .wrapper .services-container .child .icon{
    width: 4rem;
    height: auto;
    padding-bottom: 8%;
    
}

h4{
    margin: 25px 0 15px;
    font-family: bignoodletitling;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

p{
    line-height: 24px;
    font-family: merienda;
    font-size: 14px;
}
/***********************/
/*PRICING PLAN SECTION*/
/***********************/

/*Pricing plan*/
.pricing{
    
    background: url("./img/scott-graham-unsplash.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    
    
}

.pricing::before{
    content: "";
    position: absolute;
    background: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
    opacity: 0.85;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pricing-plan{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.pricing .wrapper .pricing-plan .pricing-plan-first-container{
    max-width: 400px;
    margin: 0px auto 40px;
    color: white;
}

.pricing .wrapper .pricing-plan .pricing-plan-first-container h2{
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

.pricing .wrapper .pricing-plan .pricing-plan-first-container .pricing-plan-title .line{
    border-top: 2px solid white;
    
}

.pricing .wrapper .pricing-plan .pricing-plan-first-container .pricing-plan-title .line .blocks{
    background-color: white;
}

.pricing .wrapper .pricing-plan .pricing-plan-first-container .pricing-plan-p{
    font-family: merienda;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;

}

.pricing .wrapper .pricing-plan-second-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.pricing .wrapper .pricing-plan-second-container .pricing-plan-child{
    width: 320px;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.pricing-plan-child-container{
    background: #fff;
    text-align: center;
    transition: all 0.4s;

    
}




ul{
    list-style: none;
}

ul li{
    max-width: 204px;
    font-weight: 500;
    padding-bottom: 8px;
    margin: 0 auto 15px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    border-bottom: 1px solid #666;
}

ul li:last-child{
    padding-bottom: 0px;
    border-bottom: none;
}

.pricing-plan-child-container .pricing-plan-child-head{
    padding: 15px;
}

.pricing-plan-child-container .pricing-plan-child-price{
    padding: 15px;
    background-color: #666666;
    color: white;
    transition: all 0.5 ease 0s;
}

.pricing-plan-child-container .pricing-plan-child-price h1{
    position: relative;
    padding-left: 15px;
    display: inline-block;
    font-size: 48px;
}

.pricing-plan-child-container .pricing-plan-child-price h1 span{
    position: absolute;
    font-size: 14px;
    line-height: 40px;
    left: 0;
}

.pricing-plan-child-container .pricing-plan-child-body{
    padding: 25px 15px;
}

.pricing-plan-child-container .pricing-plan-child-body .order-now{
    display: inline-block;
    padding: 5px 35px;
    margin-top: 20px;
    border: 2px solid #666;
    color: #666;
    border-radius: 30px;
    
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

.pricing-plan-child-container:hover .pricing-plan-child-price{
    background-image: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
}

.pricing-plan-child-container:hover .order-now{
    background-image: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
    color: white;
    
}


/***********************/
/*TESTIMONIAL SECTION*/
/***********************/
.testimonials{
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: white;
}


.testimonial .testimonial-first-container{
    max-width: 400px;
    margin: 0px auto 40px;
}


.testimonial .testimonial-first-container h2{
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

.testimonial-body{
    display: flex;
    position: relative;
    margin: auto;
    
    width: 100%;
    height: auto;
    justify-content: center;
}

.testimonial-body .testimonial-body-container {
    position: relative;
    width: 60%;
    
 }

.testimonial-body .testimonial-body-container .testimonial-img-container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    
 }

.testimonial-body .testimonial-body-container .testimonial-img-container img{
    overflow: hidden;
    border-radius: 500px;
    width: 120px;
    height: auto;
}

.testimonial-body .testimonial-body-container .testimonial-description-container h3{
    padding: 0px 0px 10px 0px;
    margin: auto;
    font-size: 24px;
    
 }

 .testimonial-body .testimonial-body-container .testimonial-description-container .testimonial-description{
    padding-bottom: 10px;
    
 }

 .testimonial-body .testimonial-body-container .testimonial-description-container .testimonial-rating{
    display: flex;
    justify-content: center;
}

 .testimonial-body .testimonial-body-container .testimonial-description-container .testimonial-rating img{
     width: 18px;

 }

.active{
    display: flex;
    justify-content: center;
}

.owl-nav{
    visibility: hidden;
}
/*********************/
/****MEDIA QUERIES****/
/*********************/

@media (max-width: 1025px){

    .services .wrapper .services-container{
        justify-content: center;
        
    }

    .services .wrapper .services-container .child{
        margin-top: 20px;
    }

    .pricing-plan-child-container{
        margin-top: 40px;
        
    
        
    }
    .pricing .wrapper .pricing-plan-second-container{
        justify-content: center;
    }
    
}